<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Simple Promises test</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="./index.js"></script>
  </head>
  <body>
    <input type="textarea" style="width: 80%; height: 200px"  name="markdown-source" id="markdown-source" value="" placeholder="Markdown text goes here"/>
    <div style="border: solid 1px red;">
      <p id="display">&nbsp;</p>
    </div>
  </body>
</html>
